{% extends "base/logo_header.html" %}
{% block title %}{{ title1 }}{% endblock %}
{% block subtitle %}{{ title2 }}{% endblock %}
{% block widget_content %}
  <style>
    .a1 a:hover {
        text-decoration: underline;
    }

    .a1 a {
        text-decoration: underline !important;
        font-weight: bold;
    }

    .a1 .wf-h4-style {
        font-size: 20px
    }

    .a1 .wf-table-vertical .dataTable td {
        vertical-align: top;
        border-left: none !important;
        border-right: none !important;
        border-bottom: none !important;
    }

    .a1 .wf-table-vertical {
        width: initial;
        font-size: 12px;
    }

    .a1 .wf-table-vertical td {
        padding: 5px;
        border: 1px solid !important;
    }

    .a1 .wf-table-vertical tr td:first-child {
        font-weight: bold;
    }

    .a1 .header-row {
        text-align: center;
    }

    .a1 .dataTable th.widget-th {
        border-top: 1px solid !important;
        border-bottom: 1px solid !important;
    }

    .a1 .impact_table {
        width: 100%;
        overflow-x: auto;
    }

    .a1 .dataTable td {
        vertical-align: top;
    }

    .a1 .dataTable td.widget-td a {
        font-size: 12px;
    }

    .a1 .dataTable {
        font-size: 12px;
    }

    .a1 .overflow-column {
        overflow: auto;
    }


  </style>
  <div class="a1">
    <table class="phantom-table dataTable">
      {% for result in results %}
        {% if result.data %}
          {% for record in result.data %}
            <tr class="header-row">
              <th colspan="2">General Attributes</th>
            </tr>
            <tr>
              <th>ID:</th>
              <td><a href="{{ record.base_url }}/indicators/{{ record.id }}"
   target="_blank">{{ record.id }}</a></td>
            </tr>
            <tr>
              <th>Type:</th>
              <td>{{ record.type|title }}</td>
            </tr>
            <tr>
              <th>{{ record.type|title }}:</th>
              <td>{{ record.value.name }}</td>
            </tr>
            {% if record.type in ['domain', 'ip', 'ipv6', 'url'] %}
              <tr>
                <th>Ports:</th>
                <td>
                  {% for port in record.ports|sort(attribute='value') %}
                    {% if not loop.last %}
                      {{ port.value }},
                    {% else %}
                      {{ port.value }}
                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
            {% if record.type in ['domain', 'url'] %}
              <tr>
                <th>IP Resolution:</th>
                <td>{{ record.ipResolution.name }}</td>
              </tr>
            {% endif %}
            {% if record.type in ['domain', 'ip', 'ipv6', 'url'] %}
              <!--        <tr><th>IP Geolocation:</th><td></td></tr> TODO - Geolocation bug?-->
            {% endif %}
            {% if record.type in ['url', 'httpRequest'] %}
              <tr>
                <th>Request Method(s):</th>
                <td>
                  {% for element in record.requestMethods %}
                    {% if not loop.last %}
                      {{ element.name }},
                    {% else %}
                      {{ element.name }}
                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
            {% if record.type == 'email' %}
              <tr>
                <th>Originating IP(s):</th>
                <td>
                  <ul style="list-style-type: none">
                    {% for element in record.originatingIps|sort(attribute='name') %}
                      <li>{{ element.name }}</li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
              <tr>
                <th>Subject(s):</th>
                <td>
                  <ul style="list-style-type: none">
                    {% for element in record.subjects|sort(attribute='name') %}
                      <li>{{ element.name }}</li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
            {% endif %}
            {% if record.type == 'file' %}
              <tr>
                <th>File Hash Value(s):</th>
                <td>
                  <ul style="list-style-type: none">
                    {% for element in record.hashes %}
                      <li>{{ element.type }}: {{ element.value }}</li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
              <tr>
                <th>File Size:</th>
                <td>{{ record.fileSize.value }}</td>
              </tr>
              <tr>
                <th>File Name(s):</th>
                <td>
                  <ul style="list-style-type: none">
                    {% for element in record.fileNames|sort(attribute='name') %}
                      <li>{{ element.name }}</li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
              <tr>
                <th>Path:</th>
                <td>{{ record.path.name }}</td>
              </tr>
            {% endif %}
            <!--        <tr><th>IP Geolocation:</th><td></td></tr> TODO - Geolocation bug?-->
            <!--        Enrichment Fields-->
            {% for enrichmentField in record.enrichmentFields %}
              <tr>
                <th>{{ enrichmentField.name }}</th>
                <td>{{ enrichmentField.value }}</td>
              </tr>
            {% endfor %}
            <!--        Intelligence Overview Section-->
            <tr>
              <th class="header-row" colspan="2">Intelligence Overview</th>
            </tr>
            <tr>
              <th>Associated Evidence:</th>
              <td>{{ record.reportCount }}</td>
            </tr>
            <tr>
              <th>Reported Date Range</th>
              <td>
                {% set first_reported = record.reportedDates|first %}
                {{ first_reported.date if first_reported else '' }}
                -
                {% set last_reported = record.reportedDates|last %}
                {{ last_reported.date if last_reported else '' }}
              </td>
            </tr>
            <tr>
              <th>Activity Date Range</th>
              <td>
                {% set first_activity = record.activityDates|first %}
                {{ first_activity.date if first_activity else '' }}
                -
                {% set last_activity = record.activityDates|last %}
                {{ last_activity.date if last_activity else '' }}
              </td>
            </tr>
            <tr>
              <th>Attack Pattern(s):</th>
              <td>
                {% for element in record.attackPatterns %}
                  {% if not loop.last %}
                    {{ element.name }},
                  {% else %}
                    {{ element.name }}
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th>Threat Actor(s):</th>
              <td>
                {% for element in record.actors %}
                  {% if element.id > 0 %}
                    <a href="{{ record.base_url }}/actors/{{ element.id }}" target="_blank">{{ element.name }}</a>
                  {% else %}
                    {{ element.name }}
                  {% endif %}
                  {% if not loop.last %}, {% endif %}
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th>Malware(s):</th>
              <td>
                {% for element in record.malwares %}
                  {% if element.id > 0 %}
                    <a href="{{ record.base_url }}/malware/{{ element.id }}" target="_blank">{{ element.name }}</a>
                  {% else %}
                    {{ element.name }}
                  {% endif %}
                  {% if not loop.last %}, {% endif %}
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th>Target(s):</th>
              <td>
                {% for element in record.targets %}
                  {% if not loop.last %}
                    {{ element.name }},
                  {% else %}
                    {{ element.name }}
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th>Exploit Stage:</th>
              <td>{{ record.exploitStage.name }}</td>
            </tr>
            <tr>
              <th>Campaign(s):</th>
              <td>
                {% for element in record.campaigns %}
                  {% if not loop.last %}
                    {{ element.name }},
                  {% else %}
                    {{ element.name }}
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th>Active Status:</th>
              <td>{{ record.active }}</td>
            </tr>
            <tr>
              <th>Benign?:</th>
              <td>{{ record.benign.value }}</td>
            </tr>
            <tr>
              <th>Confidence Level:</th>
              <td>{{ record.confidenceLevel.value|default("Unknown") }}</td>
            </tr>
            <tr>
              <th>Description:</th>
              <td>
                {{ record.description.name|replace('\n', '<br>') |safe }}
              </td>
            </tr>
            {% for enrichmentResult in record.enrichmentResults %}
              <tr>
                <th class="header-row" colspan="2">{{ enrichmentResult.name }} as of {{ enrichmentResult.date }}</th>
              </tr>
              <tr>
                {% if enrichmentResult.format == 'colonDelimited' %}
                  <td colspan="2">
                    {{ enrichmentResult.result|replace('\n', '<br>') |safe }}
                  </td>
                {% else %}
                  <td colspan="2">{{ enrichmentResult.result }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          {% endfor %}
        {% else %}
          <table class="phantom-table dataTable">
            <tr class="header-row">
              <td colspan="2">No matches found</td>
            </tr>
          </table>
        {% endif %}
      {% endfor %}
    </table>
  </div>
{% endblock %}
